<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Meus contatos na Internet.</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Meus Contatos nas Redes Sociais!</p>
			
			<div class="devops-path path">
				<h1>Contatos</h1>
				<a href="https://www.linkedin.com/in/gunther-kuhn" class="devops-course course">
					<h2>Linkedin</h2>
				</a><!--
				--><a href="https://www.facebook.com/guntherkkuhn" class="devops-course course">
					<h2>Facebook</h2>
				</a><!--
				--><a href="https://github.com/kuhndera" class="ops-course course">
					<h2>Meu Github</h2>
				</a><!--
				--><a href="https://www.netacad.com" class="ops-course course">
					<h2>Networking Academy ID: 5607711</h2>
				</a><!--
				--><a href="https://www.youracclaim.com/user/gunther-kuhn" class="ops-course course">
					<h2>Minhas Certificações</h2>
				</a><!--
				--><a href="guntherkuhn@gmail.com" class="dev-course course">
					<h2>Minha Conta no Gmail</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Especialização</h1>
				<a href="https://www.4linux.com.br/curso/docker" class="ex-course course">
					<h2>512 - Docker e Openshift: Orquestrando ambiente DevOps escaláveis</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/ferramentas-de-automacao-devops-com-ansible-chef-e-puppet" class="ex-course course">
					<h2>4511 - Ferramentas de automação DevOps com Ansible, Chef e Puppet</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/openstack" class="ex-course course">
					<h2>472 - Infraestrutura de nuvens com OpenStack</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/controle-de-versoes-com-git" class="ex-course course">
					<h2>4530 - Controle de versões com Git</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
