<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Contatos e Especializações</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Meus contatos nas redes sociais!</p>
			
			<div class="devops-path path">
				<h1>Contatos</h1>
				<a href="https://www.linkedin.com/in/gunther-kuhn" class="devops-course course">
					<h2>Linkedin</h2>
				</a><!--
				--><a href="https://www.facebook.com/guntherkkuhn" class="devops-course course">
					<h2>Facebook</h2>
				</a><!--
				--><a href="https://github.com/kuhndera" class="ops-course course">
					<h2>Github</h2>
				</a><!--
				--><a href="https://www.netacad.com" class="ops-course course">
					<h2>Netacad 5607711</h2>
				</a><!--
				--><a href="https://www.youracclaim.com/user/gunther-kuhn" class="ops-course course">
					<h2>Acclaim</h2>
				</a><!--
				--><a href="https://www.slideshare.net/GuntherKuhn" class="dev-course course">
					<h2>SlideShare</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Especializações</h1>
				<a href="https://www.posanhanguera.com.br/mba-em-gestao-de-projetos-anhanguera-presencial/p" class="ex-course course">
					<h2>MBA em Gestão de Projetos</h2>
				</a><!--
				--><a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna-routing-switching.html" class="ex-course course">
					<h2>CCNA Routing and Switching</h2>
				</a><!--
				--><a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna-security.html" class="ex-course course">
					<h2>CCNA Security</h2>
				</a><!--
				--><a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/professional/ccnp-security.html" class="ex-course course">
					<h2>CCNP Security</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
